<!-- Mode Selection and SignIn -->

<p>Mode Selection and SignIn</p>

<p>check for local registration id (previous sign in)</p>

<p>select kid or parent mode</p>

<p>signin</p>

<p>get and store registration id so you don't sign in again</p>


<div class="content content-padded">

    <button class="btn btn-block" ng-click="login()">Login with Facebook</button>
    <hr />

    <button class="btn btn-block" ng-click="getProfile()">Get My Info</button>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>First name: {{user.first_name}}</p>
    <img ng-src="{{'http://graph.facebook.com/' + user.id + '/picture?type=small'}}" />
    <hr />

    <textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
    <button class="btn btn-block" ng-click="share()">Share</button>
    <hr />


</div>




