<!-- Admin view of client details -->

<button type="button" class="btn btn-primary" style="box-shadow:none;" ng-click="gotoAdminView()">Back</button>

<p>Admin view of client details</p>

<div>client name, registration code, avatar</div>
<div>{{clientName}}</div>
<div>{{avatarID}}</div>


<div> TABBED Activity over the last 7 days</div>

<!--Event Log  Repeater. THIS CODE USED IN CLIENTSTART.HTML and  CLIENTPROPERTIES.HTML -->
<div>
    <!--'For Each' loop using object 'clientlist' known to the $scope when defined in the controller -->
    <!--'row' is a new local var created here then used in controllerJS-->
    <!-- Can use 'arr.[x]' for array and 'ParamName/Colname' if JSON -->
    <div ng-repeat="row in eventarray track by $index" ng-include="'repeaterTemplate.html'"></div>
    <div ng-show="noEventFlag">No events</div>
</div>
<!-- This is one way to specify the repeater item template used above
    Could also be in separate HTML file loaded with ng-include="'folder/repeaterTemplate.html'"
    Have to have the element ID on everything because the obj id is passed where ever you click-->
<script type="text/ng-template" id="repeaterTemplate.html">
    <div>
        <!--If row.day is not Null, then show it-->
        <div ng-show="row.day"><strong> day is {{row.day}}</strong></div>
        <div>
            <!--{{row.datetime | date:"EEEE, MMM d"}}-->
            {{row.time}}
        </div>
        <div>{{row.fromkid}}</div>
        <div>{{row.event_type}}</div>
        <div>{{row.tokid}}</div>
        <div ng-show="row.picture_url">Picture goes here: {{row.picture_url}}<img src="{{row.picture_url}}" alt="Shared drawing" /></div>
        <div ng-show="row.comment_content">Comment: {{row.comment_content}}</div>
    </div>
</script>





<div>TAB FOR Friend record</div>
<div> Manage Friends </div>
<div> - Add friend invitation record.  How do you add one?  Need parent email for ID and kid name</div>
<div> - Remove friend</div>
<div> - Accept friend invitation record</div>

<!--Friend List Repeater-->
<div>
    <!--'For Each' loop using object 'clientlist' known to the $scope when defined in the controller -->
    <!--'row' is a new local var created here then used in controllerJS-->
    <!-- Can use 'arr.[x]' for array and 'ParamName/Colname' if JSON -->
    <div ng-repeat="row in friendArray track by $index" ng-include="'repeaterTemplate2.html'"></div>
    <!--<div ng-repeat="row in friendsarray | filter:globalService.selectedClient" ng-include="'repeaterTemplate2.html'"></div>-->  <!--when there are multiple clients in the array-->
    <div ng-show="noFriendsFlag">No Friends added yet</div>
</div>
<!-- This is one way to specify the repeater item template used above
    Could also be in separate HTML file loaded with ng-include="'folder/repeaterTemplate.html'"
    Have to have the element ID on everything because the obj id is passed where ever you click-->
<script type="text/ng-template" id="repeaterTemplate2.html">
    <div>
        <div> friend id
            {{row.friend_id}}
        </div>
        <div>
            friend avatar
            {{row.friend_avatar}}
        </div>
        <div> friend name
            {{row.friend_name}}
        </div>
        <div>
            parent name
            {{row.friend_parentname}}
        </div>
        <div>
            parent email
            {{row.friend_parentemail}}
        </div>
        <div>
            record id
            {{row.record_id}}
        </div>
        <!--NEED TO GET THE FRIEND RECORD ID-->
        <div id="{{row.record_id}}" ng-click="deleteFriendClick($event)">Delete</div>
    </div>
</script>






<button type="button" class="btn btn-primary" style="box-shadow:none;" ng-click="gotoView()">
    Button
</button>
